div.container{
	width: 1020px;
	padding: 10px 0;
	margin: 0 auto;
	background-color: #BCBEA5;
}

h2.h2{
	text-align: center; 
}

h3.h3{
	text-align: center;
}

div.project_tasks{
	width: 700px;
	margin: 0px auto 40px;

}

div.project_block{
	width: 700px;
	border: 1px solid #416AA7;
	background: image-url("project_block_background.gif") repeat-x;
	display: inline-block;
	margin-bottom: -4px;
	margin-top: 40px;
	&:hover {
		img {
			display:block;
		}
	}
}

img.project_block_image{
	float: left;
	margin: 12px;
}

span.project_name{
	float: left;
	line-height: 49px;
	color: white;
	font-size: 20px;
}

img.delete_project_image{
	float: right;
	margin: 16px;
	padding-left: 16px;
	border-left: 1px solid #507EBB;
	display: none;
}

img.edit_project_image{
	float: right;
	margin: 16px 0px;
	display: none;
}

div.add_task_block{
	width: 700px;
	border: 1px solid #C4C1B9;
	background-color: #CECECE;
	display: inline-block;
	margin-bottom: -5px;
}

img.add_task_block_image{
	float: left;
	margin: 12px;
}

input.add_task_input_text{
	float: left;
	font-size: 18px;
	margin-top: 10px;
	padding-left: 10px;
	width: 346px;
}

a.add_task_a{
	float: left;
	border: 1px solid #76AD8E;
	text-decoration: none;
	color: white;
	font-size: 18px;
	line-height: 25px;
	margin-top: 10px;
	width: 100px; 
	text-align: center;
	background: image-url("add_task_background.gif") repeat-x;
}

div.task_block{
	width: 700px;
	border: 1px solid #BEC0AF;
	background: white;
	display: inline-block;
	margin-bottom: -5px;
	&:hover {
		background: #FCFED5;
		div.task_image_block {
			display: block;
		}
	}
}

div.task_status_block{
	float: left;
	border-right: 1px solid #F2E2E6;
	width: 50px;
}

input.task_check_box{
	margin: 20px;
}

div.task_name_deadline{
	float: left;
	border-left: 1px solid #F2E2E6;
	border-right: 1px solid #F0F3F2;
	width: 555px;
	margin-left: 5px;
}

span.task_name{
	line-height: 51px;
	padding-left: 10px;
}

div.task_image_block{
	float: right;
	width: 70px;
	padding-right: 8px;
	display: none;
}

img.edit_task_image{
	float: right;
	margin: 11px 4px;
	border-right: 1px solid #D2D2CD;
	padding: 9px;
}

img.delete_task_image{
	float: right;
	margin: 19px 8px;
}

a.add_todo_list_a{
	background: image-url("add_todo_list_background.gif") repeat-x;
	text-decoration: none;
	color: white;
	display: inline-block;
	border: 1px solid #4A5D76;
	margin: 20px 420px;
	width: 180px;
}

img.add_todo_list_image{
	float: left;
	margin: 10px;
	border: none;
}

span.add_todo_list_span{
	float: left;
	margin-right: 10px;
	margin-top: 12px;
}

h5.h5{
	text-align: center;
	color: white;
}

input.project_input_text{
	float: left;
	font-size: 18px;
	margin-top: 10px;
	margin-left: 10px;
	padding-left: 10px;
	width: 450px;
	display: none;
}

input.project_input_button{
	float: left;
	font-size: 14px;
	padding: 7px;
	margin-top: 8px;
	display: none;
}

input.task_input_text{
	float: left;
	font-size: 18px;
	margin-top: 12px;
	margin-left: 10px;
	padding-left: 10px;
	width: 300px;
	display: none;
}

input.task_input_button{
	float: left;
	font-size: 14px;
	padding: 7px;
	margin-top: 8px;
	display: none;
}

ul.task_list{
	list-style-type: none;
	padding-left: 0px;
	margin-top: 0px;
}

span.task_deadline{
	line-height: 51px;
}

input.task_input_date{
	float: left;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;
	display: none;
}

span.task_span{
	line-height: 51px;
	padding-left: 10px;
}

input.project_input_date{
	float: left;
	margin-top: 12px;
	margin-left: 10px;
	margin-right: 10px;
}

form.new_project{
	display: none;
}

div.devise_container{
	width: 328px;
	margin: 300px auto;
	background: #BCBEA5;
	padding-left: 50px;
	padding-top: 1px;
	padding-bottom: 30px;
}

label.label{
	float: left;
	margin-top: 1px;
	margin-right: 15px;
	font-size: 25px;
}

input.email_field{
	float: left;
	font-size: 20px;
	width: 200px;
}

input.password_field{
	float: left;
	font-size: 20px;
	width: 164px;
}

div.devise_block{
	display: inline-block;
	padding-bottom: 10px;
}

input.check_box{
	float: left;
	width: 20px;
	height: 20px;
}

label.label_check_box{
	float: left;
	margin-top: 1px;
	margin-right: 15px;
	font-size: 20px;
	padding-left: 10px;
	padding-top: 2px;
}

input.button{
	font-size: 25px;
	margin-bottom: 10px;
}

div.devise_forgot_container{
	width: 485px;
	margin: 300px auto;
	background: #BCBEA5;
	padding-left: 50px;
	padding-top: 1px;
	padding-bottom: 30px;
}

div.create_project{
	width: 280px;
	display: inline-block;
	margin: 50px 370px;
}